<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin page</title>
</head>
<body>
  
  <div id="private"></div>

  <script>
    // SHOULD BE PASSED IN FETCH HEADERS (POST) INSTEAD OF GET QUERY STRING
    async function getData(){
      let connection = await fetch("data?jwt="+localStorage.jwt)
      let response = await connection.json()
      response = JSON.stringify(response)
      document.querySelector("#private").innerHTML = response
    }
    getData()
  </script>

</body>
</html>