<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<!-- onsubmit return false = easy alt to prevent default -->
  <form id="frmLogin" onsubmit="return false">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button onclick="login()">log in</button>
  </form>

  <div id="incorrect"></div>

  <script>
    if(window.location.search == '?registered'){
      document.getElementById("incorrect").innerHTML = "Registration successful!";
    }
    // XSS, CSRF always escape/protect (svelte, react etc. auto escapes)
    // todo: validation
    async function login(){
      let form = new FormData(document.querySelector("#frmLogin"))
      // async fetch: init object (form) + await res(token)
      let connection = await fetch("login", {
        method:"POST",
        body:form
      })
      // grab token response and store in localStorage
      let response = await connection.text()
      console.log(response)
      // 'incorrect' = res from server
      if(response == 'incorrect') {
        document.getElementById("incorrect").innerHTML = "Incorrect credentials";
      }else{
        localStorage.jwt = response
        location.href = "/profile"
      }
    }
  </script>
</body>
</html>